body {
  background-color: white;
  font-size: 1.3em;
}

p {
  font-family: serif;
  color: rgba(0,0,0,0.85);
  margin: 0.5em auto 0em;
}

h1 {
  font-family: serif;
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: normal;
  color: #008500;
  margin: 2em auto 0em;
}

a {
  text-decoration: none;
  color: #008500;
  border-bottom: solid 1px transparent;
  transition: all ease-out 1s;
}

a:hover {
  opacity: 80%;
  border-color: #008500;;
}

nav {
  text-align: center;
  margin: 1em;
  font-size: 1.3em;
}

hr {
  width: 10%;
}


.banner {
  width: 100%;
  border-top: solid 3px;
  border-bottom: solid 1px;
}

.container {
  margin: auto;
  width: 50%;
}

.subtext {
  margin-top: 0;
  opacity: 50%;
}

#tagline {
  margin-bottom: 1em;
}

#masthead {
  font-size: 2.8em;
}

#logo {
  position: relative;
  height: 1.3em;
  left: 0.2em;
  top: 0.3em;
  z-index: -1;
}
