body {
  background-color: #fafafa;
  font-size: 1.1em;
  margin: auto;
  width: 50%
}

p, ol, ul {
  font-family: 'Lora', serif;
  line-height: 1.6;
  color: rgba(0,0,0,0.85);
  margin: 1em auto 0em
}

h1 {
  font-family: 'Lora', serif;
  font-size: 3.9vw;
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  color: #008500;
  margin: 2em auto 0em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

button {
  border: none;
  border-bottom: solid 1px;
  background-color: transparent;
  padding: 0;
  color: #008500;
}

button:hover {
  padding-bottom: 1px;
  border-bottom: none;
}


a {
  text-decoration: none;
  color: rgba(0,0,0,0.85);
  border-bottom: solid 1px;
  transition: all ease-out 0.5s;
}

a:hover {
  color: #008500;
  border-bottom: transparent;
}

nav {
  text-align: center;
  margin: 1em;
}

header {
  width: 100%;
  border-top: solid 3px;
  border-bottom: solid 1px;
  padding-bottom: 1em;
}

figure{
  text-align: center;
  margin: 1em;
}

figcaption {
  margin-top: 0;
  font-family: 'Lora', serif;
  font-size: 0.8em;
  color: rgba(0,0,0,0.50);
}

img {
  width: 50%;
}

.nav {
  font-size: 1.3em;
}

#logo {
  width: auto;
  position: relative;
  height: 1.3em;
  left: 0.2em;
  top: 0.3em;
  z-index: -1;
}

@media (max-width: 1025px) {
  body {
    width: 60%;
  }

  h1 {
    font-size: 4.7vw;
  }
}

@media (max-width: 500px) {
  body {
    width: 90%;
    font-size: 1.1em;
  }

  h1 {
    font-size: 5.9vw;
  }
}