<!DOCTYPE html>
<html>
    <html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chronique du singe vert</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav>
  <a href="{{ url_for('index') }} " style="border-bottom: transparent"><button class="nav" type="button">Accueil</button></a>
  </nav>
  <header>
    <h1>La chronique du<img id="logo" src="static/images/logo.png" alt="logo du singe vert"></img>inge vert</h1>
    <figcaption>"business management" et autres balivernes pour s'occuper par temps pluvieux</figcaption>
  </header>
  {%block content%}
  {%endblock%}
  </body>
</html> 