{%extends "layout.html"%}
{%block content%}
<main>
  <article>
    <h2>Titre de l'article qui peut être long voire très très long parfois</h2>
    <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, iure pariatur omnis quas? Distinctio animi sunt nisi nemo assumenda dolore nesciunt impedit maiores et exercitationem, illo dolores expedita tempora excepturi.
    Eveniet, eius. Ipsam, molestias, earum!</p> <p>Sapiente ea suscipit repudiandae, aspernatur est ducimus architecto officia excepturi.</p><p>Illum doloremque alias ut incidunt iste. Deserunt saepe ipsa aliquam odio aspernatur facilis vitae, esse.
    Ipsum, enim voluptatum tempora quod, a culpa commodi earum, fugiat laborum numquam suscipit! Iure omnis, odio officia ex expedita quis natus quas officiis! Quia a harum tempore, aliquid et exercitationem.</i></p>
    <h3>Titre de l'article qui peut être long voire très très long parfois</h3>
    <p>Lorem ipsum dolor sit amet <a href="#">consectetur</a> adipisicing elit.consectetur adipisicing elit. Non quos beatae tenetur obcaecati et? Fugiat dolorem iure tenetur laboriosam quos autem architecto asperiores quas repudiandae quia consequatur, distinctio at eveniet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>Unde aliquam perferendis quidem dolorem facere ad,</strong> eos, nemo numquam minima ullam ipsam consequatur ducimus ipsa, eum tempora iusto quam praesentium asperiores!</p>
    <h4>Titre de l'article qui peut être long voire très très long parfois</h4>
    <p>Lorem ipsum dolor sit amet <a href="#">consectetur</a> adipisicing elit.consectetur adipisicing elit. Non quos beatae tenetur obcaecati et? Fugiat dolorem iure tenetur laboriosam quos autem architecto asperiores quas repudiandae quia consequatur, distinctio at eveniet.</p>
    <figure>
      <img src="articles/modesManagériales.png" alt="cover">
      <figcaption>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>Unde aliquam perferendis quidem dolorem facere ad,</strong> eos, nemo numquam minima ullam ipsam consequatur ducimus ipsa, eum tempora iusto quam praesentium asperiores!</p>
    <h5>Titre de l'article qui peut être long voire très très long parfois</h5>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid suscipit nostrum, rem, exercitationem esse eius quasi deserunt ab similique beatae architecto ex quidem tenetur maxime facere optio voluptatibus amet qui?
    Nostrum rerum delectus quisquam, dolore quod consequatur animi, repellendus nisi non deserunt, enim iste incidunt maiores. Magnam repellendus sequi asperiores, unde. Sapiente commodi doloremque iure tempora fugiat ut deserunt doloribus.</p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
  </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong>Unde aliquam perferendis quidem dolorem facere ad,</strong> eos, nemo numquam minima ullam ipsam consequatur ducimus ipsa, eum tempora iusto quam praesentium asperiores!</p>
    <h6>Titre de l'article qui peut être long voire très très long parfois</h6>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia perferendis, ipsum ab ipsa dolorum soluta velit ea pariatur, porro sapiente eveniet, quia commodi! Ducimus reiciendis, laboriosam necessitatibus earum vero odio.</p>
  </article>
</main>
{%endblock%}
