{%extends "layout.html"%}
{%block content%}
<main>
  <section>
    <a href="#">
      <h2>Titre de l'article qui peut être long voire très très long parfois</h2>
      <figcaption>recension publiée le 20/09/2020</figcaption>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam similique ipsa, nihil. Quaerat tenetur maiores nobis, rerum, voluptatum non ut corporis vel mollitia natus, neque dolorum cum, nihil debitis esse...</p>
    </a>
    <button type="button">Lire la suite</button>
  </section>
  <section>
    <a href="#">
      <h2>Titre de l'article qui peut être long voire très très long parfois</h2>
      <figcaption>recension publiée le 20/09/2020</figcaption>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam similique ipsa, nihil. Quaerat tenetur maiores nobis, rerum, voluptatum non ut corporis vel mollitia natus, neque dolorum cum, nihil debitis esse...</p>
    </a>
    <button type="button">Lire la suite</button>
  </section>
  <section>
    <a href="#">
      <h2>Titre de l'article qui peut être long voire très très long parfois</h2>
      <figcaption>recension publiée le 20/09/2020</figcaption>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam similique ipsa, nihil. Quaerat tenetur maiores nobis, rerum, voluptatum non ut corporis vel mollitia natus, neque dolorum cum, nihil debitis esse...</p>
    </a>
    <button type="button">Lire la suite</button>
  </section>
</main>
{%endblock%}
